.edit-form {
  margin: 3em auto;
  max-width: 600px;
}

.edit-form label {
  margin-left: 0.5em;
}

.edit-form input[type="text"], textarea, input.review-title {
  background-color: #eeeeee!important;
  border: none!important;
  padding: 0.5em;
}

input.review-title {
  width: 97%;
}

.edit-form input {
  width: 98%!important;
}

.edit-form textarea {
  width: 100%;
  height: 6em!important;
}

.save-cancel-buttons {
  display: flex;
  width: 100%;
}

.save-edit, .save-new, .cancel, .save-review {
  width: 50%;
  height: 4em;
  border: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s;
}

.save-edit, .save-new, .save-review {
  background-color: #4caf50;
  margin-left: 0.5em;
}

.save-edit:hover, .save-new:hover, .save-review:hover {
  background-color: #66bb6a;
}

.cancel {
  background-color: #9e9e9e;
  margin-right: 0.5em;
}

.cancel:hover {
  background-color: #bdbdbd;
}

.review-stars {
  text-align: center;
  margin: 1em;
}

.review-stars:hover {

}

.add-review-container {
  width: 100%;
  max-width: 600px;
}
