/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0em;
}

.btn {
  margin: 10px;
}

a {
  color: #3F51B5!important;
}

.goHome {
  text-align: center;
}

.navbar > div > a, .nav-item > a {
  color: #fff!important;
}

.hide {
  display: none;
}

/* Used to darken navbar when hiding carousel*/
.dark-blue {
  background-color: #304a74;
}

/* Keeps one snack view centered */
.snack-content {
  justify-content: center;
}

.one-snack-img {
  width: 100%;
}

.review-container {
  display: flex;
  width: 100%;
  text-align: center;
}

/* rating stars */
.review-stars .star {
  cursor: pointer;
}

.star {
  color: #ffc107;
}

.review-button {
  background-color: #ff9800;
}

.review-author {
  color: #3f51b5;
}

.reviewer-stars > i {
  color: #7986cb;
}

@media (min-width: 992px) {
  .one-snack-container {
    margin-top: 3em;
  }
  .review-container {
    margin-top: 2em;
  }
}

@media (max-width: 991px) {
  .one-snack-details {
    margin: 1em;
    text-align: center;
  }
  .review-button {
    width: 100%;
    margin: 0 auto!important;
  }
}
