/*GENERAL*/
* {
  box-sizing: border-box;
}

body {
  margin: 0em;
}

.btn {
  margin: 10px;
}

.hide {
  display: none;
}

/*========================HOMEPAGE*/
/*NAV*/

/*SLIDES*/

/*CONTENT: SNACK CARDS*/
.star {
  color: #ffc107;
}
